<% if(success && success.length) { %>
    <div class="alert alert-success alert-dismissible fade show col-8 offset-2 mt-1" role="alert">
        <i class="fa-solid fa-circle-check"></i>
        <i class="ms-2">
            <%= success %>
        </i>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    </div>
    <% } %>
        <% if(error && error.length) { %>
            <div class="alert alert-danger alert-dismissible fade show col-8 offset-2 mt-1" role="alert">
                <i class="fa-solid fa-circle-exclamation"></i>
                <i class="ms-2">
                    <%= error %>
                </i>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            </div>
            <% } %>
                <% if(destory && destory.length) { %>
                    <div class="alert alert-danger alert-dismissible fade show col-8 offset-2 mt-1" role="alert">
                        <i class="fa-solid fa-trash-can"></i>
                        <i class="ms-2">
                            <%= destory %>
                        </i>
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                    </div>
                    <% } %>