<% layout("/layouts/boilerplate.ejs") %>
    <div class="row mt-2">
        <div class="col-8 offset-2">
            <div class="alert alert-danger" role="alert">
                <i class="fa-solid fa-circle-exclamation"></i> 
                <i class="ms-2">Somtiong went wrong!
                <%= message %></i>
            </div>
        </div>
    </div>